beautifulsoup4==4.11.1
colour==0.1.5
Django==5.2.12
django-mailer==2.2
django-unrest-schema==0.0.3
django-unrest==0.1.9
ImageHash==4.2.1
mss==6.1.0
opencv-python==4.13.0.92
psycopg2-binary==2.9.11
scikit-image==0.26.0
shapely==2.1.2
social-auth-app-django==5.0.0
social-auth-core==4.2.0
typer==0.6.1
urcv==0.0.5
uwsgi==2.0.31
